
<ul class="app-menu">

  <li class="dc-link active">
    <%= dc_link_to 'Diary', 'event_note', { t: 'diary' }, target: 'iframe_edit', title: '' %>
  </li>

  <li class="dc-link">
    <%= dc_link_to 'Report', 'print', { t: :dc_memory, f: 'diary_report', action: 'new'},
                   target: 'iframe_edit' %>
  </li>

</ul>

<%= dc_iframe_edit('diary') %>
