
<ul class="dc-action-menu">
  <li class="dc-link dc-animate"> 
    <%= dc_link_to 'Report', 'table',
        { controller: :cmsedit, table: :dc_memory, form_name: 'diary_report', action: 'new'}, 
        target: 'iframe_edit' %> 
  </li>
</ul>
<hr>

<%= dc_iframe_edit('diary') %>
