<div style="font-size: 1.5em; line-height: 1.6em; padding: 1em;">

<h2>DRG CMS portal initialization</h2>
<div class="dc-form-info">Portal initialized. <%= link_to 'Click', '/' %> to visit application.</div>
</div> 